<?php

return [
    'alliance.diplo' => 'Diplo',
    'alliance.mil.fc.full' => 'Full FC',

    'mumble.ceo' => 'CEO',

    'mumble.pronoun.he.opt-in' => 'He/Him',
    'mumble.pronoun.she.opt-in' => 'She/Her',
    'mumble.pronoun.they.opt-in' => 'They/Them',
];
